nav a { display: inline-flex; align-items: center; min-height: 2.75rem; }
nav a.current { color: rgb(var(--primary)); text-decoration: underline; text-decoration-thickness: 1px; text-underline-offset: .6em; }
