natiart-app/node_modules
natiart-app/dist
natiart-app/.angular
natiart-app/coverage
natiart-app/*.log
.git
natiart-app/**/logs
natiart-app/**/*.log
natiart-app/**/*.local
natiart-app/**/*.secret
natiart-app/**/*.secrets
natiart-app/**/*secrets*.json
natiart-app/**/.env
natiart-app/**/.env.*
natiart-app/**/.npmrc
natiart-app/**/*.pem
natiart-app/**/*.p12
natiart-app/**/*.jks
natiart-app/**/*.key
