<div [formGroup]="userInfoGroup" class="space-y-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <app-natiart-form-field label="First Name" controlName="firstname" [form]="userInfoGroup">
      <input formControlName="firstname" id="firstname" type="text" placeholder="John" class="form-input">
    </app-natiart-form-field>

    <app-natiart-form-field label="Last Name" controlName="lastname" [form]="userInfoGroup">
      <input formControlName="lastname" id="lastname" type="text" placeholder="Doe" class="form-input">
    </app-natiart-form-field>
  </div>

  <app-natiart-form-field label="Email Address" controlName="email" [form]="userInfoGroup">
    <input formControlName="email" id="email" type="email" placeholder="you@example.com" class="form-input">
  </app-natiart-form-field>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <app-natiart-form-field label="CPF" controlName="cpf" [form]="userInfoGroup">
      <input formControlName="cpf" id="cpf" type="text" placeholder="000.000.000-00" cpfFormat class="form-input">
    </app-natiart-form-field>

    <app-natiart-form-field label="Phone (Optional)" controlName="phone" [form]="userInfoGroup" [isOptional]="true">
      <input formControlName="phone" id="phone" type="tel" placeholder="(XX) XXXXX-XXXX" appPhoneFormatBrazil class="form-input">
    </app-natiart-form-field>
  </div>
</div>