<section class="py-12 bg-background">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl md:text-4xl font-serif font-light text-secondary text-center mb-10">{{ title }}</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
      @for (product of products | async; track product) {
        <div class="bg-surface rounded-lg overflow-hidden shadow-md hover:shadow-xl transition-shadow duration-300 ease-in-out group product-card">
          <!-- Product Image -->
          <div class="relative h-64 overflow-hidden">
            <a [routerLink]="['/product', product.id]">
              @if (imageUrls[product.id!]) {
                <img [src]="imageUrls[product.id!]" [alt]="product.label" class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300" loading="lazy">
              } @else {
                <div class="w-full h-full bg-gray-200 animate-pulse"></div>
              }
            </a>
            <div class="absolute top-3 right-3 flex flex-col space-y-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
              <button class="p-2 rounded-full bg-white/80 hover:bg-white backdrop-blur-sm text-secondary">
                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
              </button>
            </div>
            <div class="absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-black/50 to-transparent">
              <div class="flex justify-between items-center">
                <span class="text-xl font-bold text-white">{{ product.markedPrice | currency:'BRL' }}</span>
                @if (product.originalPrice > product.markedPrice) {
                  <span class="text-sm text-gray-300 line-through">{{ product.originalPrice | currency:'BRL' }}</span>
                }
              </div>
            </div>
          </div>

          <!-- Product Details -->
          <div class="p-5">
            <h3 class="text-lg font-semibold font-sans text-secondary-dark truncate" [title]="product.label">{{ product.label }}</h3>
            <p class="text-sm text-text-muted mt-1 mb-4 line-clamp-2">{{ product.description }}</p>
            <app-add-to-cart-button [product]="product" (itemAdded)="triggerFlyAnimation($event)"></app-add-to-cart-button>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<app-personalization-modal (close)="closePersonalizationModal()" (personalize)="onPersonalizationComplete($event)" [product]="selectedProduct" [show]="showPersonalizationModal"></app-personalization-modal>
