<div class="space-y-4" [formGroup]="credentialForm">
  <app-natiart-form-field label="Email Address" controlName="username" [form]="credentialForm" i18n-label>
    <input id="username" type="email" formControlName="username" autocomplete="email" placeholder="you@example.com" i18n-placeholder class="form-input">
  </app-natiart-form-field>

  <app-natiart-form-field label="Password" controlName="password" [form]="credentialForm" i18n-label>
    <input id="password" aria-describedby="password-errors" type="password" formControlName="password" autocomplete="new-password" placeholder="••••••••" class="form-input">
    <app-password-requirements [password]="credentialForm.get('password')?.value" class="animate-fadeIn"></app-password-requirements>
  </app-natiart-form-field>

  <app-natiart-form-field label="Confirm Password" controlName="confirmPassword" [form]="credentialForm" i18n-label>
    <input id="confirmPassword" aria-describedby="confirmPassword-errors" [attr.aria-invalid]="credentialForm.hasError('passwordMismatch') && credentialForm.get('confirmPassword')?.touched" type="password" formControlName="confirmPassword" autocomplete="new-password" placeholder="••••••••" class="form-input">
  </app-natiart-form-field>

  <app-button type="button" (click)="goToNext()" [disabled]="credentialForm.invalid" [block]="true" color="primary" size="lg" i18n>Next Step →
  </app-button>
</div>
