<div [formGroup]="checkoutForm">
  <div formGroupName="paymentInfo" class="space-y-6">
    <div>
      <label for="paymentMethod" class="block text-sm font-medium text-secondary">Payment Method</label>
      <select id="paymentMethod" formControlName="paymentMethod" class="mt-1 block w-full px-3 py-2 bg-white border border-primary rounded-md shadow-input placeholder-secondary-light focus:outline-none focus:ring-primary focus:border-primary sm:text-sm">
        <option value="">Select payment method</option>
        <option value="credit_card">Credit Card</option>
        <option value="debit_card">Debit Card</option>
        <option value="pix">PIX</option>
      </select>
    </div>

    <ng-container *ngIf="checkoutForm.get('paymentInfo.paymentMethod')?.value === 'credit_card' || checkoutForm.get('paymentInfo.paymentMethod')?.value === 'debit_card'">
      <div>
        <label for="cardNumber" class="block text-sm font-medium text-secondary">Card Number</label>
        <input id="cardNumber" formControlName="cardNumber" type="text" required
               class="mt-1 block w-full px-3 py-2 bg-white border border-primary rounded-md shadow-input placeholder-secondary-light focus:outline-none focus:ring-primary focus:border-primary sm:text-sm"
               [ngClass]="{'border-error': getFieldError('paymentInfo.cardNumber')}"
               placeholder="XXXX XXXX XXXX XXXX">
        <p *ngIf="getFieldError('paymentInfo.cardNumber')" class="mt-2 text-sm text-red-600">
          {{ getFieldError('paymentInfo.cardNumber') }}
        </p>
      </div>

      <div class="grid grid-cols-2 gap-6">
        <div>
          <label for="expirationDate" class="block text-sm font-medium text-secondary">Expiration Date</label>
          <input id="expirationDate" formControlName="expirationDate" type="text" required
                 class="mt-1 block w-full px-3 py-2 bg-white border border-primary rounded-md shadow-input placeholder-secondary-light focus:outline-none focus:ring-primary focus:border-primary sm:text-sm"
                 [ngClass]="{'border-error': getFieldError('paymentInfo.expirationDate')}"
                 placeholder="MM/YY">
          <p *ngIf="getFieldError('paymentInfo.expirationDate')" class="mt-2 text-sm text-red-600">
            {{ getFieldError('paymentInfo.expirationDate') }}
          </p>
        </div>

        <div>
          <label for="cvv" class="block text-sm font-medium text-secondary">CVV</label>
          <input id="cvv" formControlName="cvv" type="text" required
                 class="mt-1 block w-full px-3 py-2 bg-white border border-primary rounded-md shadow-input placeholder-secondary-light focus:outline-none focus:ring-primary focus:border-primary sm:text-sm"
                 [ngClass]="{'border-error': getFieldError('paymentInfo.cvv')}"
                 placeholder="123">
          <p *ngIf="getFieldError('paymentInfo.cvv')" class="mt-2 text-sm text-red-600">
            {{ getFieldError('paymentInfo.cvv') }}
          </p>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="checkoutForm.get('paymentInfo.paymentMethod')?.value === 'pix'">
      <button (click)="onProcessPixPayment()">Pay</button>
    </ng-container>
  </div>
</div>
